* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.kdbx binary
*.pdf binary
*.png binary
*.sqlite binary
*.sqlite3 binary
*.webp binary
